@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<div>
    <br />
    <div class="alert-success" style="padding:10px 10px 10px 10px;">
        Your Password is reset to : Ganpati@@@DateTime.Now.Year<br />
        Please log in with mobile and new Password.
    </div>
    <p>
        <br /> Click <a href="@Url.Action("LogIn")">here</a> to log in.
    </p>
</div>

